* {
    box-sizing: border-box;
    margin: 0 auto;
}

#game-board-area {
    background-color: aqua;
}

#game-board {
    display: grid;
    grid-template-columns: repeat(3, minmax(100px, 1fr));
    grid-template-rows: repeat(3, minmax(100px, 1fr));
    background-color: red;
    width: 70vw;
}