* {
    box-sizing: border-box;
    margin: 0 auto;
}

.board-square {
    width: 100%;
    background-color: white;
    border-style: solid;
    border-color: white black black white;
}

.no-bottom {
    border-bottom-color: white;
}

.no-right {
    border-right-color: white;
}


#game-board-area {
    background-color: aqua;
}

#game-board {
    display: grid;
    grid-template-columns: repeat(3, minmax(100px, 1fr));
    grid-template-rows: repeat(3, minmax(100px, 1fr));
    background-color: red;
    width: 40vw;
    height: 40vw;
    min-height: 300px;
}

#score-area {
    height: 5vh;
}

#top-div {
    height: 10vh;
}

.board-square p {
    font-size: 7rem;
}